body {
    background: #f8f8f8;
    font-family: Open-Sans;}
.menu {
    list-style-type: none;
    font-size: 16px;}
.menu a {
    color: blue;}
.productHeader {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;}
.productShortDesc {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;}
.productFullDesc {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;}
.productCharacteristics {
    font-size: 1.2em;
    color: darkblue;}
.contactInput {
    height: 20px;
    width: 250px;
    color: darkblue;}
.contactInputArea {
    width: 250px;
    color: darkblue;}